In [ ]:
#https://github.com/tpaskhalis/DS3_Introduction_Python
#https://tom.paskhal.is/DS3/01_introduction.html
#https://ds3.ai/index.html#about  for all hertie courses summer 2022

In [1]:
s='time flies like a banana' #string methods follows

In [2]:
s

'time flies like a banana'

In [3]:
s[5:]

'flies like a banana'

In [4]:
s.upper()

'TIME FLIES LIKE A BANANA'

In [5]:
s.capitalize()

'Time flies like a banana'

In [7]:
s.split(sep = ' ')

['time', 'flies', 'like', 'a', 'banana']

In [8]:
s.replace(' ', '-')

'time-flies-like-a-banana'

In [9]:
'-'.join(s.split(sep = ' ')) #methods calls can be nested withn each other

'time-flies-like-a-banana'

In [10]:
t=(0, 'one', 2, 2) #tuples methods follow

In [11]:
type(t)

tuple

In [13]:
len(t)

4

In [14]:
t[1:]

('one', 2, 2)

In [15]:
t + ('three', 5) #like strings tuples can be concatenated

(0, 'one', 2, 2, 'three', 5)

In [16]:
l=[0, 'one', 2, 3]

In [17]:
l[1]

'one'

In [18]:
l

[0, 'one', 2, 3]

In [19]:
l[1]=1

In [20]:
l

[0, 1, 2, 3]

In [21]:
l[1:]

[1, 2, 3]

In [22]:
l[-2]

2

In [23]:
l[::2] #subset every second element, list [start:stop:step]

[0, 2]

In [24]:
l[::-1] #reverse the list, subset all elements in reverse order

[3, 2, 1, 0]

In [26]:
o={'apple', 'orange', 'watermelon'} #operations with sets

In [29]:
o

{'apple', 'orange', 'watermelon'}

In [27]:
#sets retain only original values
o1={'apple', 'apple', 'orange', 'watermelon'}

In [28]:
o1

{'apple', 'orange', 'watermelon'}

In [30]:
nordic={'Denmark', 'Iceland', 'Finland', 'Norway', 'Sweden'}

In [31]:
eu={'Denmark', 'Finland', 'Sweden'}

In [32]:
krones={'Denmark', 'Sweden'}

In [33]:
euro=eu.difference(krones)

In [34]:
euro

{'Finland'}

In [35]:
efta=nordic.difference(eu).union({'Liechtenstein', 'Switzerland'})
efta

{'Iceland', 'Liechtenstein', 'Norway', 'Switzerland'}

In [36]:
efta.intersection(nordic)

{'Iceland', 'Norway'}

In [37]:
schengen=efta.union(eu)

In [38]:
schengen

{'Denmark',
 'Finland',
 'Iceland',
 'Liechtenstein',
 'Norway',
 'Sweden',
 'Switzerland'}

In [41]:
#dictionaries
d={'apple:150.0', 'banana:120.0', 'watermelon:3000.0'}
d

{'apple:150.0', 'banana:120.0', 'watermelon:3000.0'}

In [42]:
d['apple']

TypeError: 'set' object is not subscriptable

In [43]:
d={'apple':150.0, 'banana':120.0, 'watermelon':3000.0}
d

{'apple': 150.0, 'banana': 120.0, 'watermelon': 3000.0}

In [44]:
d['apple'] #unlike tuples, lists and strings, dictionaries are indexed by 'keys'

150.0

In [45]:
d[0] #rather than integers

KeyError: 0

In [46]:
d['strawberry']=12.0
d

{'apple': 150.0, 'banana': 120.0, 'watermelon': 3000.0, 'strawberry': 12.0}

In [47]:
#conversion between non-scalar types
t #tuple

(0, 'one', 2, 2)

In [48]:
list(t) #converts to list with a list function

[0, 'one', 2, 2]

In [49]:
[x for x in t] #list comprehension, [expr for element in iterable if test]
#x+1 would break in element 2, for example

[0, 'one', 2, 2]

In [50]:
t=[0, 1, 1, 2]

In [51]:
[i + 2 for i in t if i>=1]

[3, 3, 4]

In [52]:
t.__iter__

In [54]:
set2=([0, 1, 1, 2]) #not a clue
set2

[0, 1, 1, 2]

In [55]:
set2=[(0, 1, 1, 2)] #not a clue
set2

[(0, 1, 1, 2)]

In [56]:
d #for mutable types (dictionaries, lists, sets), aliases happen instead of reassigment of values. see below

{'apple': 150.0, 'banana': 120.0, 'watermelon': 3000.0, 'strawberry': 12.0}

In [57]:
d1 = d #just an alias
d2=d.copy() #create a copy
d['watermelon']=500 #modify original dictionary

In [58]:
d1

{'apple': 150.0, 'banana': 120.0, 'watermelon': 500, 'strawberry': 12.0}

In [59]:
d2

{'apple': 150.0, 'banana': 120.0, 'watermelon': 3000.0, 'strawberry': 12.0}

In [ ]:
#inmutables (unchangeables) are tuples and strings, data types and range

In [ ]:
#https://www.geeksforgeeks.org/memory-management-in-python/

In [60]:
dishwasher='dishwasher'

In [61]:
dish=dishwasher[:4]
dish

'dish'

In [63]:
wash=dishwasher[4:8]
wash

'wash'

In [65]:
he=dishwasher[7:9]
he

'he'

In [66]:
saw = dishwasher[6:3:-1]
saw

'saw'

In [67]:
rev = dishwasher[::-1]
rev

'rehsawhsid'

In [68]:
saw=dishwasher[-4:-7:-1]
saw

'saw'

In [69]:
visegrad={'Poland', 'Czech Republic', 'Hungary', 'Slovakia'}
visegrad

{'Czech Republic', 'Hungary', 'Poland', 'Slovakia'}

In [70]:
baltic={'Estonia', 'Latvia', 'Lithuania'}
baltic

{'Estonia', 'Latvia', 'Lithuania'}

In [71]:
baltic=set(baltic)

In [72]:
baltic

{'Estonia', 'Latvia', 'Lithuania'}

In [73]:
benelux={'Belgium', 'Netherlands', 'Luxembourg'}
benelux=set(benelux)

In [74]:
visegrad=sorted(list(visegrad))
visegrad

['Czech Republic', 'Hungary', 'Poland', 'Slovakia']

In [75]:
capitals={'Prague', 'Budapest', 'Warsaw', 'Bratislava'} #the curly braces set the elements alphabetically
capitals

{'Bratislava', 'Budapest', 'Prague', 'Warsaw'}

In [ ]:
# view recordings here: https://ds3.ai/2022/python

In [76]:
list(zip(visegrad, capitals))

[('Czech Republic', 'Bratislava'),
 ('Hungary', 'Warsaw'),
 ('Poland', 'Budapest'),
 ('Slovakia', 'Prague')]

In [77]:
tuple(zip(visegrad, capitals))

(('Czech Republic', 'Bratislava'),
 ('Hungary', 'Warsaw'),
 ('Poland', 'Budapest'),
 ('Slovakia', 'Prague'))

In [78]:
capitals=['Prague', 'Budapest', 'Warsaw', 'Bratislava']  # square brackets keep teh original order of the elements
capitals

['Prague', 'Budapest', 'Warsaw', 'Bratislava']

In [79]:
tuple(zip(visegrad, capitals))

(('Czech Republic', 'Prague'),
 ('Hungary', 'Budapest'),
 ('Poland', 'Warsaw'),
 ('Slovakia', 'Bratislava'))

In [ ]:
#start with pandas dataframes
#https://www.kaggle.com/code/tpaskhalis/notebook0fa664e7a2
#https://colab.research.google.com/github/tpaskhalis/DS3_Introduction_Python/blob/main/lectures/03_pandas.ipynb
#https://r4ds.had.co.nz/tidy-data.html?q=tidy%20data#tidy-data-1

#There are three interrelated rules which make a dataset tidy:
#Each variable must have its own column.
#Each observation must have its own row.
#Each value must have its own cell.

#computer memory limits the size of data to be handled in python.

#numpy for array data type
#scipy library for linear algebra
#scikit-learn library for machine learning

In [81]:
import pandas as pd
sr1=pd.Series([150.0, 120.0, 3000.0])
sr1

0     150.0
1     120.0
2    3000.0
dtype: float64

In [82]:
sr1[sr1>200]

2    3000.0
dtype: float64

In [83]:
d

{'apple': 150.0, 'banana': 120.0, 'watermelon': 500, 'strawberry': 12.0}

In [84]:
sr2=pd.Series(d)
sr2

apple         150.0
banana        120.0
watermelon    500.0
strawberry     12.0
dtype: float64

In [85]:
sr2[0] #recall that this slicing is impossible from dictionaries

150.0

In [86]:
sr2.index

Index(['apple', 'banana', 'watermelon', 'strawberry'], dtype='object')

In [ ]:
#DataFrame.loc() provides method for label location
#DataFrame.iloc() provides method for index location
df.iloc[0] provides the first row
df.iloc[:,0] provides the first column